/node_modules/
/mytests/
/libs/
.DS_Store
.idea
dist
.env
/public/static/bundle.js
/public/static/bundle_login.js
/public/static/output.css
test.js
/test.json
/public/static/bundle.js.map
/public/static/bundle_login.js.map
/workspace.code-workspace
*.js.LICENSE.txt
test*.json
test*.js
/.vscode
screenshot.jpg
